<div class="main-header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fa-solid fa-bus"></i>Bus route</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://lnct.ac.in/" target="blank">About</a>
                    </li>
                </ul>
                <a class="navbar-brand" href="#"><i class="fa-solid fa-bus"></i>Bus route</a>
            </div>
        </div>
    </nav>
</div>