<div class="header_hero">
    <div class="contianer">
        <div class="row">
            <div class="col-lg-6 col-10 mx-auto">
                <div class="header_hero_text" id="heading" style="margin-left: 7rem;">
                    <h2 id="h2">Shift <%= shift %></h2>
                    <p>Just put address here and get the all routed bus.</p>
                    <form class="temp_form">
                        <input type="text" id="myinput" placeholder="Enter your Stop" autocomplete="off"
                            onkeyup="searchFun()">
                        <input type="submit" value="search" id="submit_btn" name="search">
                    </form>

                    <div class="table" id="table">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Route Number</th>
                                        <th>Bus Number</th>
                                        <th>Bus Stop</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0"  id="myTable">
                                <tbody>
                                    <% if(data.length) { %>
                                    <% for(var i = 0;i<data.length;i++){ %>
                                    <tr>
                                        <td><%= data[i].route_no %></td>
                                        <td><%= data[i].bus_no %></td>
                                        <td><%= data[i].address %></td>
                                    </tr>
                                    <% } %>
                                    <% } else{%>
                                    <tr>
                                        <td>No Data found</td>
                                        <td>No Data found</td>
                                        <td>No Data found</td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right side images -->
            <div class="col-lg-6 col-10 mx-auto">
                <figure class="header_hero__img">
                    <img src="./img/Bus.jpg" alt="" height="100">
                </figure>
            </div>
        </div>
    </div>
</div>