.table{
    margin: auto;
}
.tbl-header{
    margin-top: 20px;
    background: #0a183d;
}
.tbl-content{
    height: 580px;
    overflow: hidden;
}
.add_btn{
    padding: 10px 20px;
    box-sizing: border-box;
}